<style type="text/css">

<link href='http://fonts.googleapis.com/css?family=Baumans' rel='stylesheet' type='text/css'>

.title-slide hgroup > h1{
font-family: 'Baumans', cursive;
}


.title-slide hgroup > h2{
  font-family: 'Oswald', 'Calibri', sans-serif;
}

/* Fonts and Spacing */
article p, article li, article li.build, section p, section li{
  font-family: 'Open Sans','Helvetica', 'Crimson Text', 'Garamond',  'Palatino', sans-serif;
  text-align: justify;
  font-size:22px;
  line-height: 1.5em;
  color: #AA7139;
}

slide:not(.segue) h2{
  font-family: 'Calibri', Arial, sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: -2px;
  line-height: 1.2em;
/*  color: #193441;*/
/*  color: #02574D;*/
  color: #AA9A39;
}

/* Reduce Space between Title and Body */
slides > slide > hgroup + article {
  margin-top: 15px;
}

slides > slide {
    background: #303E73;
}

.title-slide {
  background-color: #303E73; /* #EDE0CF; ; #CA9F9D*/
  /* background-image:url(http://goo.gl/EpXln); */
}


.title-slide hgroup > h1, 
.title-slide hgroup > h2 {
  color: #AA7139 ;  /* ; #EF5150*/
}

</style>